.mouseContainer {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mouse {
  background: #2c333e
    linear-gradient(transparent 0%, transparent 50%, white 50%, white 100%);

  /* background-color: #2c333e; */
  position: relative;
  width: 38px;
  height: 65px;
  margin: 0 auto;

  border-radius: 6rem;
  background-size: 100% 200%;
  animation: colorSlide 2s linear infinite, nudgeMouse 2s ease-out infinite;
}
.mouse:before {
  width: 33px;
  height: 60px;
  background-color: black;
  border-radius: 6rem;
}
.mouse:before,
.mouse:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.mouse:after {
  background-color: white;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 100%;
  animation: trackBallSlide 2s linear infinite;
}
@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  70% {
    background-position: 0% 0%;
  }
  71% {
    background-position: 0% 0%;
    background-color: #2c333e;
  }
  90%,
  100% {
    background-color: white;
  }
}

@keyframes nudgeMouse {
  0% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(8px);
  }
  71% {
    transform: translateY(8px);
  }
  90% {
    transform: translateY(0px);
  }
}
@keyframes trackBallSlide {
  0% {
    transform: translateY(-20px);
  }
  20% {
    transform: translateY(0px);
    width: 0.275rem;
    height: 0.275rem;
  }
  40% {
    transform: translateY(20px);
    width: 0;
    height: 0;
  }
  71% {
    transform: translateY(-5px);
    width: 0;
    height: 0;
  }

  90%,
  100% {
    transform: translateY(-20px);
    width: 0.375rem;
    height: 0.375rem;
  }
}
.text {
  position: relative;
  font-size: max(12px, 2vw);
  color: white;
  margin-top: 1rem;
  animation: text_disapeared 2s linear infinite, text_move 2s ease-out infinite;
}
@keyframes text_disapeared {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes text_move {
  0% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(2px);
  }
  71% {
    transform: translateY(2px);
  }
  90% {
    transform: translateY(0px);
  }
}
